In [43]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
data = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')
data_all = pd.concat([data, data_test])

In [45]:
data_test["Age"] = data_test["Age"].fillna(data["Age"].median())
data["Age"] = data["Age"].fillna(data["Age"].median())

In [46]:
data_test = data_test.drop(["Cabin"], axis = 1)
data = data.drop(["Cabin"], axis = 1)

In [47]:
def simplify_ages(data):
    bins = (0, 3, 8, 16, 24, 32, 40, 120)
    group_names = ['Baby', 'Child', 'Teenager', 'Student', 'Young Adult', 'Adult', 'Old']
    categories = pd.cut(data.Age, bins, labels=group_names)
    data.Age = categories
    return data

def format_name(df):
    df['LastName'] = df.Name.apply(lambda x: x.split(' ')[0])
    df['NamePrefix'] = df.Name.apply(lambda x: x.split(' ')[1])
    return df

def simplify_Prefix(data):
    data['NamePrefix'] = data['NamePrefix'].replace(['Dr.', 'Rev.', 'y', 'Impe,',
       'Planke,', 'Gordon,', 'Mlle.', 'Col.', 'Major.', 'Walle,', 'Steen,',
       'Jonkheer.', 'der', 'Mulder,', 'Shawah,', 'the', 'Pelsmaeker,',
       'Cruyssen,', 'Carlo,', 'Messemaeker,', 'Don.', 'Capt.', 'Ms.', 'Velde,',
       'Billiard,', 'Mme.', 'Melkebeke,'], 'Prefix')
    return data

def simplify_fares(df):
    bins = (0, 25, 50, 100, 150, 600)
    group_names = ['1', '2', '3', '4', '5']
    categories = pd.cut(df.Fare, bins, labels=group_names)
    df.Fare = categories
    return df

In [48]:
data_test = format_name(data_test)
data_test = data_test.drop(["Name"], axis = 1)

data = format_name(data)
data = data.drop(["Name"], axis = 1)

In [49]:
data_test = simplify_ages(data_test)
data = simplify_ages(data)

In [50]:
data_test = simplify_Prefix(data_test)
data = simplify_Prefix(data)

In [51]:
data_test = simplify_fares(data_test)
data = simplify_fares(data)

In [52]:
data_test = data_test.drop(["Ticket", "LastName"], axis = 1)
data = data.drop(["Ticket", "LastName"], axis = 1)

In [53]:
data_test.Fare = data_test.Fare.fillna('1')
data_test.info()
data.Fare = data.Fare.fillna('1')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            418 non-null category
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null category
Embarked       418 non-null object
NamePrefix     418 non-null object
dtypes: category(2), int64(4), object(3)
memory usage: 24.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null category
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null category
Embarked       889 non-null object
NamePrefix     891 non-null object
dtypes: category(2), int64(5), object(3)
memory usage: 58.1+ KB

In [54]:
Id = data_test['PassengerId']
data_test_x = data_test.drop('PassengerId', axis = 1)
data_test_x.tail()

     Pclass     Sex          Age  SibSp  Parch Fare Embarked NamePrefix
413       3    male  Young Adult      0      0    1        S        Mr.
414       1  female        Adult      0      0    4        C     Prefix
415       3    male        Adult      0      0    1        S        Mr.
416       3    male  Young Adult      0      0    1        S        Mr.
417       3    male  Young Adult      1      1    1        C    Master.

In [55]:
y = data["Survived"]

In [56]:
X_train = data.drop(["Survived"], axis = 1)

In [57]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null category
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null category
Embarked       889 non-null object
NamePrefix     891 non-null object
dtypes: category(2), int64(4), object(3)
memory usage: 51.1+ KB

In [58]:
X_train.Embarked = X_train.Embarked.fillna('C')

In [59]:
X_train = X_train.drop(['PassengerId'], axis = 1)
X_train.tail()

     Pclass     Sex          Age  SibSp  Parch Fare Embarked NamePrefix
886       2    male  Young Adult      0      0    1        S     Prefix
887       1  female      Student      0      0    2        S      Miss.
888       3  female  Young Adult      1      2    1        S      Miss.
889       1    male  Young Adult      0      0    2        C        Mr.
890       3    male  Young Adult      0      0    1        Q        Mr.

In [60]:
type(X_train)

pandas.core.frame.DataFrame

In [61]:
type(data_test_x)

pandas.core.frame.DataFrame

In [83]:
data_test_x.info()
X_train.info()
data_a = pd.concat([X_train,data_test_x], axis=0, ignore_index=True)
data_a.info()
data_a.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
Pclass        418 non-null int64
Sex           418 non-null object
Age           418 non-null category
SibSp         418 non-null int64
Parch         418 non-null int64
Fare          418 non-null category
Embarked      418 non-null object
NamePrefix    418 non-null object
dtypes: category(2), int64(3), object(3)
memory usage: 21.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Pclass        891 non-null int64
Sex           891 non-null object
Age           891 non-null category
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null category
Embarked      891 non-null object
NamePrefix    891 non-null object
dtypes: category(2), int64(3), object(3)
memory usage: 44.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
Pclass        1309 non-null int64
Sex           1309 non-null object
Age           1309 non-null category
SibSp         1309 non-null int64
Parch         1309 non-null int64
Fare          1309 non-null category
Embarked      1309 non-null object
NamePrefix    1309 non-null object
dtypes: category(2), int64(3), object(3)
memory usage: 64.6+ KB

      Pclass     Sex          Age  SibSp  Parch Fare Embarked NamePrefix
1304       3    male  Young Adult      0      0    1        S        Mr.
1305       1  female        Adult      0      0    4        C     Prefix
1306       3    male        Adult      0      0    1        S        Mr.
1307       3    male  Young Adult      0      0    1        S        Mr.
1308       3    male  Young Adult      1      1    1        C    Master.

In [84]:
data_a[:-1]

      Pclass     Sex          Age  SibSp  Parch Fare Embarked NamePrefix
0          3    male      Student      1      0    1        S        Mr.
1          1  female        Adult      1      0    3        C       Mrs.
2          3  female  Young Adult      0      0    1        S      Miss.
3          1  female        Adult      1      0    3        S       Mrs.
4          3    male        Adult      0      0    1        S        Mr.
5          3    male  Young Adult      0      0    1        Q        Mr.
6          1    male          Old      0      0    3        S        Mr.
7          3    male         Baby      3      1    1        S    Master.
8          3  female  Young Adult      0      2    1        S       Mrs.
9          2  female     Teenager      1      0    2        C       Mrs.
10         3  female        Child      1      1    1        S      Miss.
11         1  female          Old      0      0    2        S      Miss.
12         3    male      Student      0      0    1        S        Mr.
13         3    male        Adult      1      5    2        S        Mr.
14         3  female     Teenager      0      0    1        S      Miss.
15         2  female          Old      0      0    1        S       Mrs.
16         3    male         Baby      4      1    2        Q    Master.
17         2    male  Young Adult      0      0    1        S        Mr.
18         3  female  Young Adult      1      0    1        S     Prefix
19         3  female  Young Adult      0      0    1        C       Mrs.
20         2    male        Adult      0      0    2        S        Mr.
21         2    male        Adult      0      0    1        S        Mr.
22         3  female     Teenager      0      0    1        Q      Miss.
23         1    male  Young Adult      0      0    2        S        Mr.
24         3  female        Child      3      1    1        S      Miss.
25         3  female        Adult      1      5    2        S       Mrs.
26         3    male  Young Adult      0      0    1        C        Mr.
27         1    male      Student      3      2    5        S        Mr.
28         3  female  Young Adult      0      0    1        Q      Miss.
29         3    male  Young Adult      0      0    1        S        Mr.
...      ...     ...          ...    ...    ...  ...      ...        ...
1278       2    male          Old      0      0    1        S        Mr.
1279       3    male      Student      0      0    1        Q        Mr.
1280       3    male        Child      3      1    1        S    Master.
1281       1    male      Student      0      0    3        S        Mr.
1282       1  female          Old      0      1    2        S       Mrs.
1283       3    male     Teenager      0      2    1        S    Master.
1284       2    male          Old      0      0    1        S        Mr.
1285       3    male  Young Adult      3      1    1        S        Mr.
1286       1  female      Student      1      0    3        S       Mrs.
1287       3    male      Student      0      0    1        Q        Mr.
1288       1  female          Old      1      1    3        C       Mrs.
1289       3    male      Student      0      0    1        S        Mr.
1290       3    male  Young Adult      0      0    1        Q        Mr.
1291       1  female  Young Adult      0      0    5        S      Miss.
1292       2    male        Adult      1      0    1        S        Mr.
1293       1  female      Student      0      1    3        C      Miss.
1294       1    male      Student      0      0    2        S        Mr.
1295       1    male          Old      1      0    2        C        Mr.
1296       2    male      Student      0      0    1        C        Mr.
1297       2    male      Student      1      0    1        S        Mr.
1298       1    male          Old      1      1    5        C        Mr.
1299       3  female  Young Adult      0      0    1        Q      Miss.
1300       3  female         Baby      1      1    1        S      Miss.
1301       3  female  Young Adult      0      0    1        Q      Miss.
1302       1  female        Adult      1      0    3        Q       Mrs.
1303       3  female  Young Adult      0      0    1        S      Miss.
1304       3    male  Young Adult      0      0    1        S        Mr.
1305       1  female        Adult      0      0    4        C     Prefix
1306       3    male        Adult      0      0    1        S        Mr.
1307       3    male  Young Adult      0      0    1        S        Mr.

[1308 rows x 8 columns]

In [85]:
X_train

     Pclass     Sex          Age  SibSp  Parch Fare Embarked NamePrefix
0         3    male      Student      1      0    1        S        Mr.
1         1  female        Adult      1      0    3        C       Mrs.
2         3  female  Young Adult      0      0    1        S      Miss.
3         1  female        Adult      1      0    3        S       Mrs.
4         3    male        Adult      0      0    1        S        Mr.
5         3    male  Young Adult      0      0    1        Q        Mr.
6         1    male          Old      0      0    3        S        Mr.
7         3    male         Baby      3      1    1        S    Master.
8         3  female  Young Adult      0      2    1        S       Mrs.
9         2  female     Teenager      1      0    2        C       Mrs.
10        3  female        Child      1      1    1        S      Miss.
11        1  female          Old      0      0    2        S      Miss.
12        3    male      Student      0      0    1        S        Mr.
13        3    male        Adult      1      5    2        S        Mr.
14        3  female     Teenager      0      0    1        S      Miss.
15        2  female          Old      0      0    1        S       Mrs.
16        3    male         Baby      4      1    2        Q    Master.
17        2    male  Young Adult      0      0    1        S        Mr.
18        3  female  Young Adult      1      0    1        S     Prefix
19        3  female  Young Adult      0      0    1        C       Mrs.
20        2    male        Adult      0      0    2        S        Mr.
21        2    male        Adult      0      0    1        S        Mr.
22        3  female     Teenager      0      0    1        Q      Miss.
23        1    male  Young Adult      0      0    2        S        Mr.
24        3  female        Child      3      1    1        S      Miss.
25        3  female        Adult      1      5    2        S       Mrs.
26        3    male  Young Adult      0      0    1        C        Mr.
27        1    male      Student      3      2    5        S        Mr.
28        3  female  Young Adult      0      0    1        Q      Miss.
29        3    male  Young Adult      0      0    1        S        Mr.
..      ...     ...          ...    ...    ...  ...      ...        ...
861       2    male      Student      1      0    1        S        Mr.
862       1  female          Old      0      0    2        S       Mrs.
863       3  female  Young Adult      8      2    3        S      Miss.
864       2    male      Student      0      0    1        S        Mr.
865       2  female          Old      0      0    1        S       Mrs.
866       2  female  Young Adult      1      0    1        C     Prefix
867       1    male  Young Adult      0      0    3        S        Mr.
868       3    male  Young Adult      0      0    1        S     Prefix
869       3    male        Child      1      1    1        S    Master.
870       3    male  Young Adult      0      0    1        S        Mr.
871       1  female          Old      1      1    3        S       Mrs.
872       1    male        Adult      0      0    1        S        Mr.
873       3    male          Old      0      0    1        S     Prefix
874       2  female  Young Adult      1      0    1        C       Mrs.
875       3  female     Teenager      0      0    1        C      Miss.
876       3    male      Student      0      0    1        S        Mr.
877       3    male      Student      0      0    1        S        Mr.
878       3    male  Young Adult      0      0    1        S        Mr.
879       1  female          Old      0      1    3        C       Mrs.
880       2  female  Young Adult      0      1    2        S       Mrs.
881       3    male        Adult      0      0    1        S        Mr.
882       3  female      Student      0      0    1        S      Miss.
883       2    male  Young Adult      0      0    1        S        Mr.
884       3    male  Young Adult      0      0    1        S        Mr.
885       3  female        Adult      0      5    2        Q       Mrs.
886       2    male  Young Adult      0      0    1        S     Prefix
887       1  female      Student      0      0    2        S      Miss.
888       3  female  Young Adult      1      2    1        S      Miss.
889       1    male  Young Adult      0      0    2        C        Mr.
890       3    male  Young Adult      0      0    1        Q        Mr.

[891 rows x 8 columns]

In [73]:
result

     Pclass     Sex          Age  SibSp  Parch Fare Embarked NamePrefix
0         3    male      Student      1      0    1        S        Mr.
1         1  female        Adult      1      0    3        C       Mrs.
2         3  female  Young Adult      0      0    1        S      Miss.
3         1  female        Adult      1      0    3        S       Mrs.
4         3    male        Adult      0      0    1        S        Mr.
5         3    male  Young Adult      0      0    1        Q        Mr.
6         1    male          Old      0      0    3        S        Mr.
7         3    male         Baby      3      1    1        S    Master.
8         3  female  Young Adult      0      2    1        S       Mrs.
9         2  female     Teenager      1      0    2        C       Mrs.
10        3  female        Child      1      1    1        S      Miss.
11        1  female          Old      0      0    2        S      Miss.
12        3    male      Student      0      0    1        S        Mr.
13        3    male        Adult      1      5    2        S        Mr.
14        3  female     Teenager      0      0    1        S      Miss.
15        2  female          Old      0      0    1        S       Mrs.
16        3    male         Baby      4      1    2        Q    Master.
17        2    male  Young Adult      0      0    1        S        Mr.
18        3  female  Young Adult      1      0    1        S     Prefix
19        3  female  Young Adult      0      0    1        C       Mrs.
20        2    male        Adult      0      0    2        S        Mr.
21        2    male        Adult      0      0    1        S        Mr.
22        3  female     Teenager      0      0    1        Q      Miss.
23        1    male  Young Adult      0      0    2        S        Mr.
24        3  female        Child      3      1    1        S      Miss.
25        3  female        Adult      1      5    2        S       Mrs.
26        3    male  Young Adult      0      0    1        C        Mr.
27        1    male      Student      3      2    5        S        Mr.
28        3  female  Young Adult      0      0    1        Q      Miss.
29        3    male  Young Adult      0      0    1        S        Mr.
..      ...     ...          ...    ...    ...  ...      ...        ...
388       3    male      Student      0      0    1        Q        Mr.
389       3    male        Child      3      1    1        S    Master.
390       1    male      Student      0      0    3        S        Mr.
391       1  female          Old      0      1    2        S       Mrs.
392       3    male     Teenager      0      2    1        S    Master.
393       2    male          Old      0      0    1        S        Mr.
394       3    male  Young Adult      3      1    1        S        Mr.
395       1  female      Student      1      0    3        S       Mrs.
396       3    male      Student      0      0    1        Q        Mr.
397       1  female          Old      1      1    3        C       Mrs.
398       3    male      Student      0      0    1        S        Mr.
399       3    male  Young Adult      0      0    1        Q        Mr.
400       1  female  Young Adult      0      0    5        S      Miss.
401       2    male        Adult      1      0    1        S        Mr.
402       1  female      Student      0      1    3        C      Miss.
403       1    male      Student      0      0    2        S        Mr.
404       1    male          Old      1      0    2        C        Mr.
405       2    male      Student      0      0    1        C        Mr.
406       2    male      Student      1      0    1        S        Mr.
407       1    male          Old      1      1    5        C        Mr.
408       3  female  Young Adult      0      0    1        Q      Miss.
409       3  female         Baby      1      1    1        S      Miss.
410       3  female  Young Adult      0      0    1        Q      Miss.
411       1  female        Adult      1      0    3        Q       Mrs.
412       3  female  Young Adult      0      0    1        S      Miss.
413       3    male  Young Adult      0      0    1        S        Mr.
414       1  female        Adult      0      0    4        C     Prefix
415       3    male        Adult      0      0    1        S        Mr.
416       3    male  Young Adult      0      0    1        S        Mr.
417       3    male  Young Adult      1      1    1        C    Master.

[1307 rows x 8 columns]

In [88]:
from sklearn.linear_model import LogisticRegression as LR
from sklearn.feature_extraction import DictVectorizer as DV

print('Исходные данные:\n')
print(data_a.shape)
encoder = DV(sparse = False)
data_all_e = encoder.fit_transform(data_a.T.to_dict().values())
print('\nЗакодированные данные:\n')
print(data_all_e.shape)

Исходные данные:

(1309, 8)

Закодированные данные:

(1309, 28)

## Обучение

In [89]:
from sklearn.ensemble import RandomForestClassifier

In [95]:
clf = RandomForestClassifier(criterion = 'gini', max_depth = 15, max_features = 'log2', min_samples_leaf = 1, min_samples_split = 5, n_estimators = 6)

In [100]:
clf.fit(data_all_e[:891], y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=15, max_features='log2', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=6, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [ ]:
print(accuracy_score(y_test, predictions))

## Предсказание

In [105]:
pred = clf.predict(data_all_e[891:1309])

In [106]:
output = pd.DataFrame({ 'PassengerId' : Id, 'Survived': pred })

In [110]:
output.tail()

     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

In [111]:
output.to_csv('titanic-predictions.csv', index = False)